{% extends 'themes/base.html' %}

{% block title %}Landing Page{% endblock %}

{% block content %}
{% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <body style=" background-image:url('{%static 'img/hero-bg.jpg' %}'); background-repeat: no repeat; background-size: 100%; ">
        <div class="hero">
            <div class="hero-content">
                <h1>Bienvenido al Sistema de Asistencia</h1>
                <p>Accede para gestionar las asistencias de tus asignaturas.</p>
            </div>
        </div>
    </body>


{% endblock %}

