<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>LOGIN</title> 
    <!-- Bootstrap CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> 
    
 
</head> 
<body class="bg-light text-center"> 
    <main class="form-signin w-25"> 
        {% if form.errors %} 
        <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p> 
        {% endif %} 
     
        {% if next %} 
            {% if user.is_authenticated %} 
                <p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p> 
            {% else %} 
                <p>Por favor inicie sesión para ver esta página.</p> 
            {% endif %} 
        {% endif %} 
        <form method="post" action="{% url 'login' %}"> 
            {% csrf_token %} 
            {% if request.GET.next %} 
                <input type="hidden" name="next" value="{{ request.GET.next }}"> 
            {% endif %} 
            <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1> 
            <div class="form-floating"> 
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" 
required id="id_username" class="form-control"> 
            <label for="id_username">Usuario</label> 
            </div> 
            <div class="form-floating"> 
                <input type="password" name="password" id="id_password" required class="form-control" id="floatingPassword" 
placeholder="Password" autocomplete="current-password"> 
            <label for="floatingPassword">Contraseña</label> 
            </div> 
         
            <div class="checkbox mb-3"> 
            <label> 
                <input type="checkbox" value="remember-me"> Recuerdame 
            </label> 
            </div> 
            <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button> 
            <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p> 
        </form> 
    </main> 
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" /> 
</body> 
</html> 